:root {
  --beauty-landing-2-background: #fff;
  --beauty-landing-2-s2: #2b7fff;
  --beauty-landing-2-c1: #011c44;
  --beauty-landing-2-c3: #4a4a4a;
  --beauty-landing-2-s5: #747272;
  --beauty-landing-2-c6: #011f4a;
  --beauty-landing-2-s4: #ffd02b;
}
ul {
  list-style-type: none;
}
body {
  color: var(--beauty-landing-2-c1);
}

.btn-main {
  border-radius: 32px;
  padding: 16px 32px;
  width: 219px;
  height: 53px;
  background: var(--beauty-landing-2-s2);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  color: var(--beauty-landing-2-background);
  border: none;
  cursor: pointer;
}
.btn-main:hover {
  background-color: transparent;
  border: 2px solid var(--beauty-landing-2-s2);
  color: var(--beauty-landing-2-c1);
}
.link {
}
.link:hover {
  color: var(--beauty-landing-2-s2);
}
.section-title {
  font-weight: 700;
  font-size: 64px;
  color: var(--beauty-landing-2-c1);
}
/* ------------------HERO-------------------- */
.hero-title {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 140px;
  line-height: 81%;
  text-transform: capitalize;
  color: var(--beauty-landing-2-s2);
}
.accent {
  color: var(--beauty-landing-2-s2);
}
